.listen-container {
  width: 100vw;
  height: 500px;
  background: black;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid royalblue;
  /*box-shadow: 0px -10px 10px grey;*/
  border-bottom: 1px solid white;
  overflow: hidden;
}

.listen-circle-container {
  height: 400px;
  width: 400px;
  margin: 50px auto;
  position: relative;
  /*border: 1px solid red*/
}

.listen-circle-container > * {
  margin: 0px;
}

.listen-bigcircle-container {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 3px;
  right: 1px;
  transition: all 2s ease-in-out;
  z-index: 2;
}

.listen-smallcircle-container {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scale(0.70);
  transition: all 1s;
  z-index: 3;
}

.listen-center-container {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scale(0.70);
  transition: all 1s;
  z-index: 3;
}

.listen-arc-container {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  transition: all 2.5s;
  z-index: 1;
}

.listen-arcshadow-container {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 1;
  transition: all 2.5s;
  z-index: 1;
}

.listen-ai-bigcircle {
  width: 100%;
  height: 100%;
  position: relative;
  right: 8px;
}

.listen-ai-smallcircle {
  width: 100%;
  height: auto;
  position: relative;
  top: 51px;
}

.listen-ai-centercircle {
  width: 100%;
  height: auto;
  position: relative;
  top: 51px;
}

.listen-ai-arc {
  width: 100%;
  height: auto;
  position: relative;
  top: 0px;
  filter: blur(15px);
}

.listen-ai-arcshadow {
  width: 100%;
  height: auto;
  position: relative;
  top: 410px;
  filter: blur(20px);
  opacity: 0.6;
}

